body {
    background: #c9dbe9;
    background-repeat: no-repeat;
    /* you know... don't repeat... */
    background-position: center center;
    /*center the background */
    background-attachment: fixed;
    /*don't scroll with content */
    background-size: cover;
    overflow: hidden;
    display: grid;
    top: 0;
    left: 0;
    min-height: 70em;
    max-height: 70em;
    width: 100%;
}

.card {
    margin: 0 auto;
    opacity: 0.88;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* The icons depending on the weather */

.sun-rays {
    position: absolute;
    bottom: 24.5em;
    right: 50em;
    height: 15em;
    width: 15em;
    z-index: -999999;
    background: radial-gradient(rgba(255, 237, 175, .8) 50%, rgba(255, 237, 175, .2) 70%);
    border-radius: 50%;
    box-shadow: 0 0 .5em rgba(255, 237, 175, 1);
    -webkit-animation: rays 10s infinite;
    -moz-animation: rays 10s infinite;
    animation: rays 10s infinite;
}

.sun {
    position: absolute;
    bottom: 27em;
    right: 52.5em;
    height: 10em;
    width: 10em;
    z-index: -99999;
    background: rgba(255, 237, 175, 1);
    border-radius: 50%;
    box-shadow: 0 0 1em rgba(255, 237, 175, .5), inset 0 0 .5em #FFFFAD;
}

/*Sun Animation*/

@-webkit-keyframes rays {
    0% {
        transform: scale(1.1);
    }
    25% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
    75% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.1);
    }
}

@-moz-keyframes rays {
    0% {
        transform: scale(1.1);
    }
    25% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
    75% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes rays {
    0% {
        transform: scale(1.1);
    }
    25% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
    75% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.1);
    }
}

/* FEW-CLOUDS */

.few-clouds {
    animation: moveclouds 15s linear infinite;
    background: #f6f6f6;
    border-radius: 50%;
    box-shadow: #f6f6f6 65px -15px 0 -5px, #f6f6f6 25px -25px, #f6f6f6 30px 10px, #f6f6f6 60px 15px 0 -10px, #f6f6f6 85px 5px 0 -5px;
    height: 50px;
    width: 50px;
    margin-left: -60px;
    position: absolute;
    left: 255px;
    top: 70px;
    z-index: -777777;
}

/*Time to animate*/

.x1 {
    -webkit-animation: moveclouds 150s linear infinite;
    -moz-animation: moveclouds 150s linear infinite;
    -o-animation: moveclouds 150s linear infinite;
    left: -200px;
    top: 150px;
    transform: scale(2.6);
}

.x2 {
    left: 20px;
    top: 250px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(1.6);
    opacity: 0.6;
    /*opacity proportional to the size*/
    /*Speed will also be proportional to the size and opacity*/
    /*More the speed. Less the time in 's' = seconds*/
    -webkit-animation: moveclouds 250s linear infinite;
    -moz-animation: moveclouds 250s linear infinite;
    -o-animation: moveclouds 250s linear infinite;
}

.x3 {
    left: 450px;
    top: 510px;
    -webkit-transform: scale(10.8);
    -moz-transform: scale(0.8);
    transform: scale(1.8);
    opacity: 0.8;
    /*opacity proportional to the size*/
    -webkit-animation: moveclouds 120s linear infinite;
    -moz-animation: moveclouds 120s linear infinite;
    -o-animation: moveclouds 120s linear infinite;
}

.x4 {
    left: 170px;
    top: 280px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(1.5);
    opacity: 0.75;
    /*opacity proportional to the size*/
    -webkit-animation: moveclouds 318s linear infinite;
    -moz-animation: moveclouds 318s linear infinite;
    -o-animation: moveclouds 318s linear infinite;
}

.x5 {
    left: 20px;
    top: 180px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(1.0);
    opacity: 0.8;
    /*opacity proportional to the size*/
    -webkit-animation: moveclouds 220s linear infinite;
    -moz-animation: moveclouds 220s linear infinite;
    -o-animation: moveclouds 220s linear infinite;
}

.scattered-cloud {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #3F3E3D;
    position: absolute;
    top: 200px;
    left: 500px;
    margin-left: 60px;
    box-shadow: #3F3E3D 65px -15px 0 -5px, #3F3E3D 25px -25px, #3F3E3D 30px 10px, #3F3E3D 60px 15px 0 -10px, #3F3E3D 85px 5px 0 -5px;
    z-index: -777777;
    animation: moveclouds 500s ease infinite;
}

.s1 {
    left: 100px;
    top: 50px;
    transform: scale(2.6);
    background: #EFEEED;
    box-shadow: #EFEEED 65px -15px 0 -5px, #EFEEED 25px -25px, #EFEEED 30px 10px, #EFEEED 60px 15px 0 -10px, #EFEEED 85px 5px 0 -5px;
}

.s2 {
    left: 150px;
    top: 100px;
    transform: scale(2.4);
}

.s3 {
    left: 200px;
    top: 150px;
    transform: scale(2.2);
}

.s4 {
    left: 250px;
    top: 350px;
    transform: scale(1.8);
}

.s5 {
    left: 30px;
    top: 450px;
    transform: scale(1.6);
    background: #EFEEED;
    box-shadow: #EFEEED 65px -15px 0 -5px, #EFEEED 25px -25px, #EFEEED 30px 10px, #EFEEED 60px 15px 0 -10px, #EFEEED 85px 5px 0 -5px;
}

.s6 {
    left: -30px;
    top: 450px;
    transform: scale(1.4);
}

.s7 {
    left: -430px;
    top: 180px;
    transform: scale(1.2);
    opacity: 0.8;
}

.s8 {
    left: -130px;
    top: 280px;
    transform: scale(2);
    background: #EFEEED;
    box-shadow: #EFEEED 65px -15px 0 -5px, #EFEEED 25px -25px, #EFEEED 30px 10px, #EFEEED 60px 15px 0 -10px, #EFEEED 85px 5px 0 -5px;
}

.s9 {
    left: -500px;
    top: 50px;
    transform: scale(2);
    background: #EFEEED;
    box-shadow: #EFEEED 65px -15px 0 -5px, #EFEEED 25px -25px, #EFEEED 30px 10px, #EFEEED 60px 15px 0 -10px, #EFEEED 85px 5px 0 -5px;
}

.s10 {
    left: -800px;
    top: 350px;
    transform: scale(4.5);
}

.s11 {
    left: 550px;
    top: 350px;
    transform: scale(0.5);
    opacity: 0.5;
    background: #EFEEED;
    box-shadow: #EFEEED 65px -15px 0 -5px, #EFEEED 25px -25px, #EFEEED 30px 10px, #EFEEED 60px 15px 0 -10px, #EFEEED 85px 5px 0 -5px;
}

.s12 {
    left: -850px;
    top: 50px;
    transform: scale(0.5);
    opacity: 0.5;
    background: #EFEEED;
    box-shadow: #EFEEED 65px -15px 0 -5px, #EFEEED 25px -25px, #EFEEED 30px 10px, #EFEEED 60px 15px 0 -10px, #EFEEED 85px 5px 0 -5px;
}

.s13 {
    left: -750px;
    top: 50px;
    transform: scale(0.8);
    opacity: 0.7;
}

.s14 {
    left: -650px;
    top: 150px;
    transform: scale(0.8);
    opacity: 0.8;
}

.s15 {
    left: -550px;
    top: 150px;
    transform: scale(0.8);
    opacity: 0.7;
    background: #EFEEED;
    box-shadow: #EFEEED 65px -15px 0 -5px, #EFEEED 25px -25px, #EFEEED 30px 10px, #EFEEED 60px 15px 0 -10px, #EFEEED 85px 5px 0 -5px;
}

.s16 {
    left: 0px;
    top: 150px;
    transform: scale(0.8);
    opacity: 0.85;
}

.s17 {
    left: -150px;
    top: 80px;
    transform: scale(0.8);
    opacity: 0.3;
    background: #EFEEED;
    box-shadow: #EFEEED 65px -15px 0 -5px, #EFEEED 25px -25px, #EFEEED 30px 10px, #EFEEED 60px 15px 0 -10px, #EFEEED 85px 5px 0 -5px;
}

.s18 {
    left: -950px;
    top: 80px;
    transform: scale(1.8);
    background: #EFEEED;
    box-shadow: #EFEEED 65px -15px 0 -5px, #EFEEED 25px -25px, #EFEEED 30px 10px, #EFEEED 60px 15px 0 -10px, #EFEEED 85px 5px 0 -5px;
}

.s19 {
    left: -240px;
    top: 580px;
    transform: scale(1.8);
}

.s20 {
    left: 540px;
    top: 480px;
    transform: scale(1.8);
    opacity: 0.7;
    background: #EFEEED;
    box-shadow: #EFEEED 65px -15px 0 -5px, #EFEEED 25px -25px, #EFEEED 30px 10px, #EFEEED 60px 15px 0 -10px, #EFEEED 85px 5px 0 -5px;
}

/* RAINY */

.rainy {
    background: #1A1A19;
    border-radius: 50%;
    box-shadow: #1A1A19 65px -15px 0 -5px, #1A1A19 25px -25px, #1A1A19 30px 10px, #1A1A19 60px 15px 0 -10px, #1A1A19 85px 5px 0 -5px;
    display: block;
    height: 50px;
    width: 50px;
    margin-left: -60px;
    position: absolute;
    left: 427px;
    top: 70px;
    transform: scale(2);
    z-index: -777777;
    animation: moveclouds 50s linear infinite;
}

.rainy:after {
    animation: rainy_rain .7s infinite linear;
    content: '';
    background: #C2BFBA;
    border-radius: 50%;
    display: block;
    height: 6px;
    width: 3px;
    opacity: 0.3;
    transform: scale(.9);
}

.b1 {
    left: 650px;
    top: 140px;
}

.b2 {
    left: 950px;
    top: 140px;
}

.b3 {
    left: 1200px;
    top: 80px;
}

.b4 {
    left: 1500px;
    top: 180px;
}

.b5 {
    left: 200px;
    top: 180px;
}

/* Animation for Rain Clouds */

@keyframes rainy_rain {
    0% {
        box-shadow: rgba(0, 0, 0, 0) 30px 30px, rgba(0, 0, 0, 0) 40px 40px, #C2BFBA 50px 75px, #C2BFBA 55px 50px, #C2BFBA 70px 100px, #C2BFBA 80px 95px, #C2BFBA 110px 45px, #C2BFBA 90px 35px;
    }
    25% {
        box-shadow: #C2BFBA 30px 45px, #C2BFBA 40px 60px, #C2BFBA 50px 90px, #C2BFBA 55px 65px, rgba(0, 0, 0, 0) 70px 120px, rgba(0, 0, 0, 0) 80px 120px, #C2BFBA 110px 70px, #C2BFBA 90px 60px;
    }
    26% {
        box-shadow: #C2BFBA 30px 45px, #C2BFBA 40px 60px, #C2BFBA 50px 90px, #C2BFBA 55px 65px, rgba(0, 0, 0, 0) 70px 40px, rgba(0, 0, 0, 0) 80px 20px, #C2BFBA 110px 70px, #C2BFBA 90px 60px;
    }
    50% {
        box-shadow: #C2BFBA 30px 70px, #C2BFBA 40px 80px, rgba(0, 0, 0, 0) 50px 100px, #C2BFBA 55px 80px, #C2BFBA 70px 60px, #C2BFBA 80px 45px, #C2BFBA 110px 95px, #C2BFBA 90px 85px;
    }
    51% {
        box-shadow: #C2BFBA 30px 70px, #C2BFBA 40px 80px, rgba(0, 0, 0, 0) 50px 45px, #C2BFBA 55px 80px, #C2BFBA 70px 60px, #C2BFBA 80px 45px, #C2BFBA 110px 95px, #C2BFBA 90px 85px;
    }
    75% {
        box-shadow: #C2BFBA 30px 95px, #C2BFBA 40px 100px, #C2BFBA 50px 60px, rgba(0, 0, 0, 0) 55px 95px, #C2BFBA 70px 80px, #C2BFBA 80px 70px, rgba(0, 0, 0, 0) 110px 120px, rgba(0, 0, 0, 0) 90px 110px;
    }
    76% {
        box-shadow: #C2BFBA 30px 95px, #C2BFBA 40px 100px, #C2BFBA 50px 60px, rgba(0, 0, 0, 0) 55px 35px, #C2BFBA 70px 80px, #C2BFBA 80px 70px, rgba(0, 0, 0, 0) 110px 25px, rgba(0, 0, 0, 0) 90px 15px;
    }
    100% {
        box-shadow: rgba(0, 0, 0, 0) 30px 120px, rgba(0, 0, 0, 0) 40px 120px, #C2BFBA 50px 75px, #C2BFBA 55px 50px, #C2BFBA 70px 100px, #C2BFBA 80px 95px, #C2BFBA 110px 45px, #C2BFBA 90px 35px;
    }
}

/* STORMY */

.stormy {
    animation: moveclouds 50s ease infinite;
    background: #222222;
    border-radius: 50%;
    box-shadow: #222222 65px -15px 0 -5px, #222222 25px -25px, #222222 30px 10px, #222222 60px 15px 0 -10px, #222222 85px 5px 0 -5px;
    height: 50px;
    width: 50px;
    margin-left: -70px;
    position: absolute;
    left: 947px;
    top: 170px;
    z-index: -777777;
    transform: scale(3);
}

.stormy:before {
    animation: stormy_thunder 2s steps(1, end) infinite;
    border-left: 0px solid transparent;
    border-right: 7px solid transparent;
    border-top: 43px solid yellow;
    box-shadow: yellow -7px -32px;
    content: '';
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    left: 57px;
    top: 70px;
    transform: rotate(14deg);
    transform-origin: 50% -60px;
}

@keyframes stormy_thunder {
    0% {
        transform: rotate(20deg);
        opacity: 1;
    }
    5% {
        transform: rotate(-34deg);
        opacity: 1;
    }
    10% {
        transform: rotate(0deg);
        opacity: 1;
    }
    15% {
        transform: rotate(-34deg);
        opacity: 0;
    }
}

.t1 {
    left: -50px;
    top: 200px;
    transform: scale(2);
    opacity: 0.89;
}

.t2 {
    left: 250px;
    top: 100px;
    transform: scale(3);
}

.t3 {
    left: 150px;
    top: 250px;
    transform: scale(0.5);
    opacity: 0.5;
}

.t4 {
    left: 550px;
    top: 250px;
    transform: scale(0.5);
    opacity: 2;
}

/* SNOWY */

.snowy {
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: #FFFFFF 65px -15px 0 -5px, #FFFFFF 25px -25px, #FFFFFF 30px 10px, #FFFFFF 60px 15px 0 -10px, #FFFFFF 85px 5px 0 -5px;
    display: block;
    height: 50px;
    width: 50px;
    margin-left: -60px;
    position: absolute;
    left: 1112px;
    top: 70px;
    z-index: -777777;
    transform: scale(2.5);
}

.snowy:before {
    animation: snowy_snow 2s infinite linear;
    content: '';
    border-radius: 50%;
    display: block;
    height: 7px;
    width: 7px;
    opacity: 0.8;
    transform: scale(.9);
}

.c1 {
    left: 900px;
}

.c2 {
    left: 700px;
}

.c3 {
    left: 500px;
}

.c4 {
    left: 1100px;
}

.c5 {
    left: 1400px;
}

.x6 {
    left: 290px;
}

@keyframes snowy_snow {
    0% {
        box-shadow: rgba(238, 238, 238, 0) 30px 30px, rgba(238, 238, 238, 0) 40px 40px, #EEEEEE 50px 75px, #EEEEEE 55px 50px, #EEEEEE 70px 100px, #EEEEEE 80px 95px, #EEEEEE 110px 45px, #EEEEEE 90px 35px;
    }
    25% {
        box-shadow: #EEEEEE 30px 45px, #EEEEEE 40px 60px, #EEEEEE 50px 90px, #EEEEEE 55px 65px, rgba(238, 238, 238, 0) 70px 120px, rgba(238, 238, 238, 0) 80px 120px, #EEEEEE 110px 70px, #EEEEEE 90px 60px;
    }
    26% {
        box-shadow: #EEEEEE 30px 45px, #EEEEEE 40px 60px, #EEEEEE 50px 90px, #EEEEEE 55px 65px, rgba(238, 238, 238, 0) 70px 40px, rgba(238, 238, 238, 0) 80px 20px, #EEEEEE 110px 70px, #EEEEEE 90px 60px;
    }
    50% {
        box-shadow: #EEEEEE 30px 70px, #EEEEEE 40px 80px, rgba(238, 238, 238, 0) 50px 100px, #EEEEEE 55px 80px, #EEEEEE 70px 60px, #EEEEEE 80px 45px, #EEEEEE 110px 95px, #EEEEEE 90px 85px;
    }
    51% {
        box-shadow: #EEEEEE 30px 70px, #EEEEEE 40px 80px, rgba(238, 238, 238, 0) 50px 45px, #EEEEEE 55px 80px, #EEEEEE 70px 60px, #EEEEEE 80px 45px, #EEEEEE 110px 95px, #EEEEEE 90px 85px;
    }
    75% {
        box-shadow: #EEEEEE 30px 95px, #EEEEEE 40px 100px, #EEEEEE 50px 60px, rgba(238, 238, 238, 0) 55px 95px, #EEEEEE 70px 80px, #EEEEEE 80px 70px, rgba(238, 238, 238, 0) 110px 120px, rgba(238, 238, 238, 0) 90px 110px;
    }
    76% {
        box-shadow: #EEEEEE 30px 95px, #EEEEEE 40px 100px, #EEEEEE 50px 60px, rgba(238, 238, 238, 0) 55px 35px, #EEEEEE 70px 80px, #EEEEEE 80px 70px, rgba(238, 238, 238, 0) 110px 25px, rgba(238, 238, 238, 0) 90px 15px;
    }
    100% {
        box-shadow: rgba(238, 238, 238, 0) 30px 120px, rgba(238, 238, 238, 0) 40px 120px, #EEEEEE 50px 75px, #EEEEEE 55px 50px, #EEEEEE 70px 100px, #EEEEEE 80px 95px, #EEEEEE 110px 45px, #EEEEEE 90px 35px;
    }
}

/* General animation for all clouds */

@-webkit-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}

@-moz-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}

@-o-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}