body {
    background: #333;
}

h1, h2, h3, h5, p {
    color: #f2f2f2;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { display: none; }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* The icons depending on the weather */
  .sun-rays {
    position: absolute;
    bottom: 2em;
    right: 18em;
    height: 15em;
    width: 15em;
    z-index: 999999;
    background: radial-gradient(rgba(255, 237, 175, .8) 50%, rgba(255, 237, 175, .2) 70%);
    border-radius: 50%;
    box-shadow: 0 0 .5em rgba(255, 237, 175, 1);
    -webkit-animation: rays 10s infinite;
    -moz-animation: rays 10s infinite;
    animation: rays 10s infinite;
    }
    .sun {
    position: absolute;
    bottom: 4.5em;
    right: 20.5em;
    height: 10em;
    width: 10em;
    z-index: -5;
    background: rgba(255, 237, 175, 1);
    border-radius: 50%;
    box-shadow: 0 0 1em rgba(255, 237, 175, .5), inset 0 0 .5em #FFFFAD;
    }

    /*Sun Animation*/
@-webkit-keyframes rays {
  0% {
      transform: scale(1.1);
  }
  25% {
      transform: scale(0.9);
  }
  50% {
      transform: scale(1.1);
  }
  75% {
      transform: scale(0.9);
  }
  100% {
      transform: scale(1.1);
  }
}

@-moz-keyframes rays {
  0% {
      transform: scale(1.1);
  }
  25% {
      transform: scale(0.9);
  }
  50% {
      transform: scale(1.1);
  }
  75% {
      transform: scale(0.9);
  }
  100% {
      transform: scale(1.1);
  }
}

@keyframes rays {
  0% {
      transform: scale(1.1);
  }
  25% {
      transform: scale(0.9);
  }
  50% {
      transform: scale(1.1);
  }
  75% {
      transform: scale(0.9);
  }
  100% {
      transform: scale(1.1);
  }
}